export(create_factor_names, categorize,
    discretizeEW, discretizeEF,
    discretize_EW_by_column, discretize_EF_by_column,
    discretize_EW_EF_by_column,
    calculate_variance, calculate_roc_auc, calculate_entropy,
    extract_dataset_metrics, dataset_metrics_summary,
    normalize_by_column,
    standardize_by_column,
    select_variables_by_metrics,
    correlation,
    mutual_information,
    column_relationships,
    plot_roc_auc, plot_relationships,
    p03_disc_values, p03_disc_bins,
    titanic_df, std_mixed_df,
    sample_variance_23p5_df, pop_variance_2p917_df,
    auc_1p0_df, auc_0p75_df, p03_entropy_0p971,
    corr_m0p685_df)
